<%- include("header") -%>
<h2>This is the about page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus dignissimos
  obcaecati aspernatur asperiores sint. Tenetur itaque totam qui aspernatur
  maiores autem quis velit odit id! Harum reprehenderit eius aliquid ut?
</p>
<%- include("footer") -%>
