<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>To Do List</title>
  </head>
  <body>
    <div class="box">
        <h1 id="heading"><%= day %></h1>
    </div>
    <div class="box">
            <% for(let i = 0; i<items.length; i++){ %>
               <div class="item">
                 <input type="checkbox">
                <p> <%= items[i] %> </p>
               </div>
             <% } %>
            <form class="item" method="POST" action="/">
              <input placeholder="New Item" type="text" name="newItem" autocomplete="off" /> <button type="submit">+</button>
            </form>
    </div>
  </body>
</html>
<!-- Anything in HTML is valid EJS -->
<!-- <%= %>! is a marker that tells our file to replace whatever is there with a variable passed through our app.js file, THIS tag outputs the variable from app.js as html -->
<!-- We must use a different tag for different things 
A scriptlet tag lets you use some kind of javascript (if else etc). Scriplet tags look like: <% %> and MUST only encapsulate javascript code, DO NOT PUT THEM AROUND HTML ELEMENTS
-->
