body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
  height: 100%;
}
.middle-container {
}
.bottom-container {
}
h1 {
  margin: 2.6rem auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
}
h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}
a {
  color: #11999e;
}
.pro {
  text-decoration: underline;
}
.second-cloud {
  position: absolute;
  left: 25vw;
}
.top-cloud {
  position: absolute;
  right: 25vw;
  top: 30px;
}
.profile-img {
  height: 200px;
  border-radius: 50%;
}
.programmer {
  font-weight: normal;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.skill-1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill-2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}
@media only screen and (max-width: 1100px) {
  .top-cloud {
    right: 10vw;
  }
  .second-cloud {
    left: 10vw;
  }
}
